.auth-container {
    position: absolute;
    width: 450px;
    height: 361px;
    left: 735px;
    top: 292px;
    /*margin: 200px auto;*/
    text-align: center;

    background: #ffffff;
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: rgb(109, 109, 109);
}

.auth-header {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background: red;
}

.auth-header button {
    flex: 1;
    padding: 10px;
    border: none;
    background: rgba(139, 0, 0, 0.476);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-header button.active {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.402);
}

.auth-form {
    padding: 40px;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.auth-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}


.auth-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #333;
    border-bottom: 1px solid #8b0000;
}

.auth-form button {
    display: block;
    width: auto;
    padding: 10px;
    background: red;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.auth-form button:hover {
    background: #ffffff;
    color: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
